@using BlazorCrud.Shared.Models
@page "/delete/{userID}"
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<h2>Delete</h2>
<h3>Are you sure you want to delete employee with id : @userID</h3>
<br />

<div class="col-md-4">
    <table class="table">
        <tr>
            <td>Fullname</td>
            <td>@usr.Fullname</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@usr.Email</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>@usr.Address</td>
        </tr>
        <tr>
            <td>City</td>
            <td>@usr.City</td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td>@usr.PhoneNumber</td>
        </tr>
        <tr>
            <td>Vehicle Name</td>
            <td>@usr.Vname</td>
        </tr>
        <tr>
            <td>Vehicle Model</td>
            <td>@usr.Vmodel</td>
        </tr>
        <tr>
            <td>Vehicle Year</td>
            <td>@usr.Vyear</td>
        </tr>
    </table>
    <div class="form-group">
        <input type="submit" value="Delete" onclick="@(async () => await Delete())" class="btn btn-default" />
        <input type="submit" value="Cancel" onclick="@cancel" class="btn" />
    </div>
</div>

@functions {

[Parameter]
string userID { get; set; }

User usr = new User();

protected override async Task OnInitAsync()
{
    usr = await Http.GetJsonAsync<User>
    ("/api/User/Details/" + Convert.ToInt32(userID));
}

protected async Task Delete()
{
    await Http.DeleteAsync("api/User/Delete/" + Convert.ToInt32(userID));
    UriHelper.NavigateTo("/fetchuser");
}

void cancel()
{
    UriHelper.NavigateTo("/fetchuser");
}

}